<ngx-table-header
  [displayColumns]="renderHeaders$ | async"
  [columnCount]="renderColumnCount$ | async"
></ngx-table-header>
<ngx-table-body [maxBodyHeight]="tableConfig">
  <ngx-table-row
    [style.grid-gap.px]="gap"
    [style.grid-template-columns]="getTemplateColumns()"
    *ngFor="let row of renderRows$ | async"
    [row]="row"
    (click)="onRowSelect(row, row.index)"
  ></ngx-table-row>
</ngx-table-body>

<hr />
<div>
  Currently {{ stateService.selectedRowsCount$ | async }} rows are selected
</div>
