.container {
  width: 100%;
  margin: auto;
  padding: 8px 16px;
}

.table {
}

.table-header {
}

.table-header-row {
}

.table-header-row-value {
}

.table-body {
}

.table-body-row {
}

.table-body-row-value {
}
