<div class="container">
  <div class="menu-container">
    <h2>ngx-reactive-table demo</h2>
    <hr />
    <br />
    <h4>TOC</h4>
    <!-- Menu -->
    <ul class="menu-content">
      <li class="menu-item">Basic usage</li>
      <li class="menu-item-sub">Display static data</li>
      <li class="menu-item-sub">Display dynamic data</li>
      <li class="menu-item">Configuration</li>
    </ul>
  </div>
  <!-- Content of demo -->
  <div class="content-container">
    <h2>Basic usage</h2>
    <ngx-table-example-1></ngx-table-example-1>

    <h2>Configuration</h2>
    <ngx-table-example-configuration></ngx-table-example-configuration>
  </div>
</div>
