:host {
  display: flex;
  flex-direction: row;
}

.menu-container {
  background-color: #eee;
  width: 300px;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  padding: 4px 8px;
}

.content-container {
  background-color: white;
  height: auto;
  width: calc(100vw - 310px);
  margin-left: 300px;
  padding: 16px 32px;
}

.menu-item-sub{
  font-size: 90%;
  padding-left:8px;
}
