<div class="container">
  <ngx-table
    [title]="'Table title'"
    [headerDefinition]="headerDefinition"
    [dataColumnDefinition]="dataColumnDefinition"
    [datasource]="datasource"
    [tableConfig]="config$ | async"
  >
  </ngx-table>
</div>

<div class="container-2">
  <ngx-table
    [title]="'Table title'"
    [headerDefinition]="headerDefinition"
    [dataColumnDefinition]="dataColumnDefinition2"
    [datasource]="datasource"
  >
  </ngx-table>
</div>

<ng-template #templateTest let-element="element">
  <div class="test">
    {{ element }}
  </div>
</ng-template>
