.container {
  box-sizing: border-box;
  // width: 100%; // then full screen or what container above gives
  // width: 400px;
  // min-width: 300px;
  margin: auto;
}
.container-2 {
  box-sizing: border-box;
  // width: 100%; // then full screen or what container above gives
  width: 100%;
  // min-width: 300px;
  margin: auto;
}
